---
- name: Ensure required packages are installed (Debian)
  apt:
    name:
      - wget
    state: present

- name: Download Jenkins GPG key
  ansible.builtin.get_url:
    url: "{{ jenkins_gpg_key }}"
    dest: /tmp/jenkins_gpg.key
    mode: '0644'

- name: Add Jenkins GPG key
  command: "gpg --no-default-keyring --keyring /etc/apt/trusted.gpg.d/jenkins.gpg --import /tmp/jenkins_gpg.key"

- name: Add Jenkins repository (Debian)
  template:
    src: jenkins.repo.j2
    dest: /etc/apt/sources.list.d/jenkins.list

- name: Update apt package cache
  apt:
    update_cache: yes

- name: Install required packages (Debian)
  apt:
    name: 
      - openjdk-17-jre
      - fontconfig
    state: present

- name: Install Jenkins (Debian)
  apt:
    name: jenkins
    state: present
  notify: start jenkins

- name: Stopping Jenkins service
  ansible.builtin.service:
    name: jenkins
    state: stopped

- name: Moving Jenkins data to new directory
  copy: src=/var/lib/jenkins/ dest={{ jenkins_data_dir }} remote_src=yes directory_mode=yes
  ignore_errors: true
- name: Change directory owner
  file:
    path: "{{ jenkins_data_dir }}"
    owner: jenkins
    group: jenkins
    recurse: yes

- name: Remove old Jenkins data directory
  file:
    path: /var/lib/jenkins/
    state: absent
  ignore_errors: true
- name: Create override directory for Jenkins service
  become: true
  file:
    path: /etc/systemd/system/jenkins.service.d
    state: directory

- name: Add override file for Jenkins
  template:
    src: override.conf.j2
    dest: /etc/systemd/system/jenkins.service.d/override.conf
    owner: root
    group: root
    mode: '0644'

- name: Reload systemd daemon configuration
  systemd:
    daemon_reload: yes

- name: Start Jenkins Service
  ansible.builtin.service:
    name: jenkins
    state: started

- name: Register passwd
  ansible.builtin.command:
    cmd: cat /data/jenkins/secrets/initialAdminPassword
  register: intialPasswd

- name: Display passwd
  ansible.builtin.debug:
    var: intialPasswd.stdout_lines
