---
- name: Ensure required packages are installed (Debian)
  apt:
    name:
      - wget
    state: present

- name: Download Jenkins GPG key
  ansible.builtin.get_url:
    url: "{{ jenkins_gpg_key }}"
    dest: /tmp/jenkins_gpg.key
    mode: '0644'

- name: Add Jenkins GPG key
  command: "gpg --no-default-keyring --keyring /etc/apt/trusted.gpg.d/jenkins.gpg --import /tmp/jenkins_gpg.key"

- name: Add Jenkins repository (Debian)
  template:
    src: jenkins.repo.j2
    dest: /etc/apt/sources.list.d/jenkins.list

- name: Update apt package cache
  apt:
    update_cache: yes

- name: Install required packages (Debian)
  apt:
    name: 
      - openjdk-17-jre
      - fontconfig
    state: present

- name: Install Jenkins (Debian)
  apt:
    name: jenkins
    state: present
  notify: start jenkins

- name: Start Jenkins service
  service:
    name: jenkins
    state: started
    enabled: yes
  notify: start jenkins

- name: Fetch Jenkins Initial Admin Password
  hosts: JenkinsInstance
  gather_facts: false
  tasks:
    - name: Retrieve Jenkins Initial Admin Password
      command: sudo cat /var/lib/jenkins/secrets/initialAdminPassword
      register: jenkins_initial_password
      become: true  # This will use sudo

    - name: Print Jenkins Initial Admin Password
      debug:
        msg: "Jenkins Initial Admin Password: {{ jenkins_initial_password.stdout }}"
