---
- name: Installing Jenkins in Ubuntu OS
  ansible.builtin.import_tasks: Debian-install.yml
  when: ansible_os_family == "Debian"
  tags:
    - install
    - never
# or (jenkins_install_both == "yes")
